/* CSS HEX 
--smoky-black: #13140Cff;
--powder-blue: #ACC2CFff;
--air-superiority-blue: #5C97BAff;
--azure-web: #E9F5F6ff;
--charcoal: #333C47ff;
*/

:root{

--color-texto-principal: #13140Cff;
--color-fielset-input: #ACC2CFff;
--color-titulo-secundario:#5C97BAff;
--color-background-secundario: #E9F5F6ff;
--color-boton-general:#333C47ff;
 }

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color:white;
    color: var(--color-texto-principal);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

#botonWTP{
    font-style: none;
    font-size: 3em;
    background: linear-gradient(to bottom,#61FD7D,#25CF43);
    border: none;
    border-radius: 90px;
    padding: 5px 15px;
    position:fixed;
    bottom: 15%;
    right: 10%;
    z-index: 1000;
}

#WTP{
    color: white;
}

#botonWTP:hover{
    transform: scale(1.4);
    cursor: pointer;
}

nav {
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    top: 0;
    background-color: #ACC2CF99;
    color: var(--color-texto-principal);
    font-style: normal;
    text-decoration: none;
    font-weight:200;
    width: 100%;
    font-size: 0.8em;
    font-weight: 400;
    padding-top: 1.1%;
    padding-bottom: 0.5%;
    padding-left: 20%;
    padding-right: 18%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin:0px 15px ;
}

nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    text-align:justify;
    font-style: none;
    color: inherit;
    font-weight: inherit;
}

nav ul li a:hover {
    background-color: var(--color-texto-principal);
    color: white;
    border-radius: 20px;
}
#PGBlogoNav{
    width: 80px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-texto-principal);
    border-radius: 5px;
}

#seccion1{
    background-image: url(../videos/autopista1.mp4);
    background-size: cover;
    width: 100%;
    height: 950px;
    margin: 0px;
    padding: 9% 20%;
}

#seccion1Titulo{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding-top: 20%;
}

.PGBlogoBlack{
    width: 200px;
    height: 2%;
}

#titulo1{
    width: 500px;
    font-size: 1.8rem;
    color: white;
    font-weight: 350;
    text-shadow: 3px 3px 3px #000000;
}

button{
    font-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF99;
    color: #000000;
    font-size: 0.9rem;
    font-weight: 650;
    padding: 2% 5%;
    box-shadow: 3px 4px 4px #000000;
    border-radius: 30px;
    border: 1px;
    border-color:white;
    transition: all 0.3s ease;

}

button:hover{
    background-color: var(--color-texto-principal);
    color: white;
    font-size: 1rem;
    border-color:var(--color-texto-principal);
    transform: scale(1.1);
}

.animacion {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 3s ease, transform 3s ease;
}

.animacion.visible {
    opacity: 1;
    transform: translateY(0);
}

#seccionServicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 8% 20%;
}
h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 0.5%;
}
h2{
    color: var(--color-titulo-secundario);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h3{
    text-align: center;
    width: 800px;
    line-height: 1.9;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0px;
    margin-top: 0.5%;
}

#pasion{
    font-weight: 600; 
}

#textoServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.1rem;
    margin: 2% 0%;
    gap: 5%;
    margin-top: 5%;
    
}

.divServ{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divServ:hover{
    transform: scale(1.2);
    transition: opacity 2s ease, transform 2s ease;
}

#textoServicios p{
    width: 100%;
    text-align: center;
}

#imagenBody{
    width: 100%;
    height: auto;
}

#typeService{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9%;
}

#typeService h1{
    font-weight: 600;
    margin-bottom: 0px;
}
.proyectos{
    color: var(--color-titulo-secundario);
}

#textoTipoServicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8%;
    text-align: center;
    justify-content: first baseline;
    width:100%;
    height: 150%;
    padding: 5% 15%;   
    line-height: 35px;
    font-weight: 400;
}

.service-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.7s ease;
    margin-bottom: 3%;
}

.service-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.titulo-item{
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-titulo-secundario);
}

.fotoServicio{
    width: 80%;
    height: 60%;
    border-radius: 30px;
}


#seccionEquipos{
    display: flex;
    flex-direction: column;
    align-items: left ;
    justify-content:center;
    padding-left: 9%;
    padding-bottom: 5%;
    background-image: url(../imagenes/Drone-con-camara-HD-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 150%;
    margin-top: 15%;
}

#seccionEquipos p{
    width: 45%;
    font-weight: 400;
    line-height: 2;
    font-size: 1.1rem;
}

#listaEquipos{
    line-height: 2;
    font-weight: 300;
    padding-top: 0px;
    margin-top: 0px;
}

#equipo{
    font-weight: 900;
}

#seccionTrabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.galeria-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
  }

  .galeria-container {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 0 40px;
  }

  .galeria {
    display: inline-flex;
    gap: 5px;
  }

  .imagen {
    flex: 0 0 auto;
    width: 600px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  }

  .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 24px;
    width: 40px;     
    height: 40px;  
    padding: 0;
    margin: 0;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, background-color 0.3s;
  }

  .galeria-wrapper:hover .flecha {
    opacity: 1;
    pointer-events: auto;
  }

 
  .flecha.oculto {
    opacity: 0;
    pointer-events: none;
  }

  .izquierda {
    left: 10px;
  }

  .derecha {
    right: 10px;
  }

  .galeria-container::-webkit-scrollbar {
    display: none;
  }

  .galeria-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

#contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 0%;
    margin: 10% 0%;
    height: 100%;
    background-color: var(--color-background-secundario);
}

#titulo2Contacto{
    margin-top: 0px;
}

h4{
    margin-top: 0px;
    margin-bottom: 3%;
    font-weight: 200;
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 800px;
}

fieldset {
    border: var(--color-fielset-input);
    padding: 0px;
    width: 500px;
}

label {
    font-size: 0.9rem;
    color: var(--color-texto-principal);
    font-weight: 200;
    transition: color 0.3s ease;
    margin-bottom: 3%;
}

input, textarea {
    background-color: var(--color-fielset-input);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid var(--color-background-secundario);
    border-radius: 3px;
    font-size: 18px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color:var(--color-boton-general);
    outline: none;
}

textarea {
    resize: vertical;
    height: 150px;
}

#buttonEnviar{
    width: 130px;
    padding: 10%;
    margin-left: auto;
    font-weight: 300;
    font-size: 1rem;
    color:var(--color-background-secundario);
    background-color: var(--color-boton-general);
    box-shadow: none;
    text-decoration: none;
}

#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0px;
    gap: 5%;
}

#redes h1{
    margin-bottom: 0px;
}

#seguinos{
    color: var(--color-texto-principal);
}

#en-las-redes{
    color: var(--color-titulo-secundario);
}

#logoRedes{
    display: flex;
    gap: 25%;
    margin-right: 1%;
}

.icon{
    font-size: 3rem;
    color: var(--color-titulo-secundario);
    font-style: none;
}

.icon:hover{
color: var(--color-texto-principal);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
    background-color: #00000033;
    color: var(--color-texto-principal);
    font-style: normal;
    text-decoration: none;
    font-size: 1em;
    padding:5% 20%;
}

footer img{
    width: 15%;
    height: 15%;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.7;
}
footer ul li{
    font-weight: 300;
}
    
footer ul li a {
    color:var(--color-texto-principal);
    text-decoration:none;
    text-align:left;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

i:hover{
    color:white; 
}

footer ul li a:hover {
    color:white;
    border-radius:30px;
}

#Contactanos{
    font-weight: 400;
}

#footerRedes{
    display: flex;
    gap: 15%;
    list-style: none;
    width: fit-content;
}

#footerRedes a{
    list-style: none;
    color: var(--color-texto-principal);
    font-size: 1.7rem;
    padding: 5%;
}

#footerRedes a:hover{
    color: white;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%); 
    }
    50% {
      opacity: 0.5; 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 1024px) {
    nav {
      padding-left: 10%;
      padding-right: 10%;
    }
  
    #seccion1 {
      padding: 15% 10%;
      height: auto;
    }
  
    #seccion1Titulo {
      flex-direction: column;
      text-align: center;
    }
  
    #titulo1 {
      width: 100%;
      font-size: 1.5rem;
    }
  
    .PGBlogoBlack {
      width: 150px;
      margin-bottom: 20px;
    }
  
    #textoServicios,
    #textoTipoServicio {
      grid-template-columns: 1fr;
      padding: 0;
    }
  
    h3 {
      width: 100%;
      font-size: 1.2rem;
    }
  
    #seccionEquipos p {
      width: 90%;
    }
  
    form {
      width: 100%;
      padding: 0 10%;
    }
  
    fieldset {
      width: 100%;
    }
  
    .imagen {
      width: 80vw;
      height: 300px;
    }
  }
  
/*--- MOBILE --- */

@media (max-width: 600px) {

        #PGBlogoNav {
            width: 60px;
          }

        .menu-icon {
            display: flex;  /* Mostrar el ícono de hamburguesa */
        }
    
        nav ul {
            display: none;  /* Ocultar el menú en pantallas pequeñas */
            position: absolute;
            top: 60px;
            right: 20px;
            flex-direction: column;
            background-color: #ACC2CF99;
            padding: 10px;
            border-radius: 5px;
            width: 200px;
        }
    
        nav ul li {
            margin: 10px 0;
        }
    
        nav ul.active {
            display: flex;  /* Mostrar el menú cuando se active */
        }
    
        nav ul li a {
            padding: 10px;
            font-size: 1.1rem;
        }
    
  
    #seccion1 {
      padding: 30% 5%;
      height: auto;
    }
  
    #titulo1 {
      font-size: 1.2rem;
    }
  
    button {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1rem;
      line-height: 1.6;
    }
  
    #textoServicios {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    #textoTipoServicio {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 5%;
    }
  
    .fotoServicio {
      width: 100%;
    }
  
    #imagenBody {
      height: auto;
    }
  
    .imagen {
      width: 90vw;
      height: 250px;
    }
  
    #botonWTP {
      font-size: 2em;
      bottom: 10%;
      right: 5%;
    }
  
    #redes {
      flex-direction: column;
      gap: 20px;
    }
  
    #logoRedes {
      gap: 40px;
    }
  
    footer {
      flex-direction: column;
      text-align: center;
      gap: 30px;
      padding: 10% 5%;
    }
  
    footer img {
      width: 50%;
      height: auto;
    }
  
    #footerRedes {
      gap: 25px;
    }
}
